Repository arcanis-ui/arcanis-leg: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input, all-contributors generate

chore: Configure base tooling for development UX
  .editorconfig
  .eslintignore
  .eslintrc.js
  .gitattributes
  .gitignore
  .idea/prettier.xml
  .nvmrc
  .prettierignore
  .yarn/install-state.gz
  LICENSE
  README.md
  SECURITY.md
  commitlint.config.ts
  config/babel-preset/README.md
  config/babel-preset/index.js
  config/babel-preset/package.json
  config/browserslist-config/README.md
  config/browserslist-config/index.js
  config/browserslist-config/package.json
  config/eslint-config/README.md
  config/eslint-config/base.js
  config/eslint-config/index.js
  config/eslint-config/internal.js
  config/eslint-config/package.json
  config/eslint-config/plugins/jsdoc.js
  config/eslint-config/plugins/playwright.js
  config/eslint-config/plugins/react.js
  config/eslint-config/plugins/ssr-friendly.js
  config/eslint-config/plugins/storybook.js
  config/eslint-config/plugins/testing-library.js
  config/eslint-config/rules/best-practices.js
  config/eslint-config/vanilla.js
  config/prettier-config/README.md
  config/prettier-config/index.js
  config/prettier-config/package.json
  package.json
  prettier.config.js
  yarn.lock
Due: prettier --cache --write, eslint, all-contributors generate

chore: Update .gitignore, eslint rules, and configurations
  .gitignore
  .yarn/install-state.gz
  LICENSE_BANNER
  README.md
  commitlint.config.ts
  config/eslint-config/plugins/playwright.js
  package.json
  vitest.workspace.ts
  yarn.lock
Due: prettier --cache --write, eslint, all-contributors generate

chore(scale-scss): Initialize scss generation package
  packages/scale-scss/.gitignore
  packages/scale-scss/README.md
  packages/scale-scss/package.json
  packages/scale-scss/tsconfig.json
  packages/scale-scss/vite.config.ts
Due: prettier --cache --write, eslint, all-contributors generate

feat(scale-scss): Create first version of package
  packages/scale-scss/src/ast/assert.ts
  packages/scale-scss/src/ast/defineType.ts
  packages/scale-scss/src/ast/definitions.ts
  packages/scale-scss/src/ast/index.ts
  packages/scale-scss/src/ast/node.ts
  packages/scale-scss/src/generator/index.ts
  packages/scale-scss/src/generator/printer.ts
  packages/scale-scss/src/index.ts
Due: prettier --cache --write, eslint

test(scale-scss): Add test cases for assertions and type definitions
  packages/scale-scss/tests/assert.test.ts
  packages/scale-scss/tests/defineType.test.ts
  packages/scale-scss/tests/definitions.test.ts
  packages/scale-scss/tests/printer.test.ts
Due: prettier --cache --write, eslint

ci: Add CI workflow and codecov configuration
  .github/workflows/ci.yml
  codecov.yml
Due: none

ci: Update yarn install command in CI workflow
  .github/workflows/ci.yml
Due: none

chore: Improve README readability
  README.md
Due: all-contributors generate

chore: Update formatting script and README content
  README.md
  package.json
Due: all-contributors generate

chore: Update ignored files and image links
  .gitignore
  .yarn/install-state.gz
  README.md
  config/babel-preset/README.md
  config/browserslist-config/README.md
  config/eslint-config/README.md
  config/prettier-config/README.md
  packages/scale-scss/README.md
Due: all-contributors generate

chore(scale-scss): Update repository directory and copyright notices
  packages/scale-scss/package.json
  packages/scale-scss/tests/assert.test.ts
  packages/scale-scss/tests/defineType.test.ts
  packages/scale-scss/tests/definitions.test.ts
Due: prettier --cache --write, eslint

feat(chromagon): Initialize package
  packages/chromagon/.gitignore
  packages/chromagon/README.md
  packages/chromagon/package.json
  packages/chromagon/tsconfig.json
  packages/chromagon/vite.config.ts
Due: prettier --cache --write, eslint, all-contributors generate

feat(chromagon): Add color palette generation and contrast calculation
  .idea/inspectionProfiles/Project_Default.xml
  packages/chromagon/src/generator/apcaContrast.ts
  packages/chromagon/src/generator/index.ts
  packages/chromagon/src/generator/paletteBuilder.ts
  packages/chromagon/src/index.ts
  packages/chromagon/src/support/apcaSA98GConstants.ts
  packages/chromagon/src/support/avgAPCADeltas.ts
  packages/chromagon/src/support/baseSchemas.ts
  packages/chromagon/src/support/colorNames.ts
  packages/chromagon/src/support/index.ts
  packages/chromagon/src/utils/hashCode.ts
  packages/scale-scss/src/ast/node.ts
  yarn.lock
Due: prettier --cache --write, eslint

test(chromagon): Add tests for apcaContrast and paletteBuilder
  packages/chromagon/tests/apcaContrast.test.ts
  packages/chromagon/tests/paletteBuilder.test.ts
Due: prettier --cache --write, eslint

feat(chromagon): Improve base palette definition by using generators
  packages/chromagon/src/support/baseSchemas.ts
Due: prettier --cache --write, eslint

chore: Rebrand repository from 'draconic' to 'arcanis'
  .eslintrc.js
  .github/workflows/ci.yml
  .idea/arcanis.iml
  .idea/modules.xml
  README.md
  SECURITY.md
  config/babel-preset/README.md
  config/babel-preset/index.js
  config/babel-preset/package.json
  config/browserslist-config/README.md
  config/browserslist-config/package.json
  config/eslint-config/README.md
  config/eslint-config/base.js
  config/eslint-config/package.json
  config/eslint-config/vanilla.js
  config/prettier-config/README.md
  config/prettier-config/index.d.ts
  config/prettier-config/package.json
  package.json
  packages/chromagon/README.md
  packages/chromagon/package.json
  packages/chromagon/vite.config.ts
  packages/scale-scss/README.md
  packages/scale-scss/package.json
  packages/scale-scss/tests/definitions.test.ts
  packages/scale-scss/vite.config.ts
  prettier.config.js
  yarn.lock
Due: prettier --cache --write, eslint, all-contributors generate

chore(prismatic): Rebrand package 'chromagon' to 'prismatic'
  README.md
  packages/prismatic/.gitignore
  packages/prismatic/README.md
  packages/prismatic/package.json
  packages/prismatic/src/generator/apcaContrast.ts
  packages/prismatic/src/generator/index.ts
  packages/prismatic/src/generator/paletteBuilder.ts
  packages/prismatic/src/index.ts
  packages/prismatic/src/support/apcaSA98GConstants.ts
  packages/prismatic/src/support/avgAPCADeltas.ts
  packages/prismatic/src/support/baseSchemas.ts
  packages/prismatic/src/support/colorNames.ts
  packages/prismatic/src/support/index.ts
  packages/prismatic/src/utils/hashCode.ts
  packages/prismatic/tests/apcaContrast.test.ts
  packages/prismatic/tests/paletteBuilder.test.ts
  packages/prismatic/tsconfig.json
  packages/prismatic/vite.config.ts
  yarn.lock
Due: prettier --cache --write, eslint, all-contributors generate

chore(scss-forge): Rebrand package 'scale-scss' to 'scss-forge'
  README.md
  codecov.yml
  packages/scss-forge/.gitignore
  packages/scss-forge/README.md
  packages/scss-forge/package.json
  packages/scss-forge/src/ast/assert.ts
  packages/scss-forge/src/ast/defineType.ts
  packages/scss-forge/src/ast/definitions.ts
  packages/scss-forge/src/ast/index.ts
  packages/scss-forge/src/ast/node.ts
  packages/scss-forge/src/generator/index.ts
  packages/scss-forge/src/generator/printer.ts
  packages/scss-forge/src/index.ts
  packages/scss-forge/tests/assert.test.ts
  packages/scss-forge/tests/defineType.test.ts
  packages/scss-forge/tests/definitions.test.ts
  packages/scss-forge/tests/printer.test.ts
  packages/scss-forge/tsconfig.json
  packages/scss-forge/vite.config.ts
  yarn.lock
Due: prettier --cache --write, eslint, all-contributors generate

fix: Regenerate lockfile to account for incorrect git patch
  yarn.lock
Due: none

chore: Update project banners
  config/babel-preset/README.md
  config/browserslist-config/README.md
  config/eslint-config/README.md
  config/prettier-config/README.md
  packages/prismatic/README.md
  packages/scss-forge/README.md
Due: all-contributors generate

feat(cli-chroma): Implement first version of package
  .idea/inspectionProfiles/Project_Default.xml
  codecov.yml
  packages/cli-chroma/.gitignore
  packages/cli-chroma/README.md
  packages/cli-chroma/package.json
  packages/cli-chroma/src/colorFunctions.ts
  packages/cli-chroma/src/colorGenerator.ts
  packages/cli-chroma/src/index.ts
  packages/cli-chroma/src/runtimeConstants.ts
  packages/cli-chroma/src/termColors.ts
  packages/cli-chroma/tsconfig.json
  packages/cli-chroma/vite.config.ts
  packages/prismatic/vite.config.ts
  yarn.lock
Due: prettier --cache --write, eslint, all-contributors generate

test(cli-chroma): Implement test coverage of library
  packages/cli-chroma/tests/assembled.test.ts
  packages/cli-chroma/tests/createColors.test.ts
Due: prettier --cache --write, eslint

feat(cli-chroma): Replace base env config implementation with std-env
  packages/cli-chroma/package.json
  packages/cli-chroma/src/runtimeConstants.ts
  packages/cli-chroma/src/termColors.ts
  packages/cli-chroma/vite.config.ts
  yarn.lock
Due: prettier --cache --write, eslint

feat: Use parcel instead of vite for node lib compilation
  .gitignore
  .idea/nx-angular-config.xml
  nx.json
  package.json
  packages/cli-chroma/package.json
  packages/cli-chroma/vite.config.ts
  packages/cli-chroma/vitest.config.js
  packages/prismatic/package.json
  packages/prismatic/vite.config.ts
  packages/prismatic/vitest.config.js
  packages/scss-forge/package.json
  packages/scss-forge/src/ast/definitions.ts
  packages/scss-forge/vite.config.ts
  packages/scss-forge/vitest.config.js
  yarn.lock
Due: prettier --cache --write, eslint

chore(arclight): Initialize package
  packages/arclight/.gitignore
  packages/arclight/README.md
  packages/arclight/package.json
  packages/arclight/src/index.ts
  packages/arclight/tsconfig.json
  packages/arclight/vitest.config.js
Due: prettier --cache --write, eslint, all-contributors generate

feat(cli-chroma): Add getColor function in termColors module
  packages/cli-chroma/src/colorFunctions.ts
  packages/cli-chroma/src/termColors.ts
Due: prettier --cache --write, eslint

chore(repo): Updated devDependencies and minor code adjustments
  .gitignore
  package.json
  packages/prismatic/src/generator/paletteBuilder.ts
  packages/scss-forge/package.json
Due: prettier --cache --write, eslint

Path conditions:
  prettier --cache --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.scss)
  eslint: any of: **/*.{js,jsx,ts,tsx}
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
  all-contributors generate: (any of: README.md) or (any of: .all-contributorsrc)
